<h1>Listing aadmins</h1>

<table>
  <tr>
    <th>Bbody</th>
  </tr>

<% @aadmins.each do |aadmin| %>
  <tr>
    <td><%=h aadmin.bbody %></td>
    <td><%= link_to 'Show', aadmin %></td>
    <td><%= link_to 'Edit', edit_aadmin_path(aadmin) %></td>
    <td><%= link_to 'Destroy', aadmin, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New aadmin', new_aadmin_path %>